apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: istio-system
# Expects maistra-operator to be installed 
resources:
- namespace.yaml
- cert-secret.yaml
- control-plane.yaml
- init-job.yaml
- init-job-rbac/job-cluster-role.yaml
- init-job-rbac/job-rolebinding.yaml
- init-job-rbac/job-sa.yaml

configMapGenerator:
  - name: cluster-resources
    files:
      - resource-templates/filter-oauth2.yaml
      - resource-templates/oauth-configmap.yaml
      - resource-templates/oauth-client.yaml
      - resource-templates/gateway-route.yaml
      - resource-templates/authconfig.yaml
      - resource-templates/patch-dashboard-config.yaml
      - proxy/auth-policy.yaml
      - proxy/filter-propagate-token.yaml

generatorOptions:
  disableNameSuffixHash: true
