apiVersion: authorino.kuadrant.io/v1beta1
kind: AuthConfig
metadata:
  name: odh-dashboard-protection
  namespace: opendatahub  # TODO:HARDCODED
  labels:
    authorino/topic: odh
spec:
  hosts:
  # TODO:HARDCODED - WILL ONLY WORK ON CRC.
  - "opendatahub-odh-gateway-525eca1d5089dbdc-istio-system.apps-crc.testing"
  identity:
  - name: kubernetes-users
    kubernetes:
      audiences: 
      - "https://kubernetes.default.svc"
  authorization:
  - name: k8s-rbac-only-service-viewers
    kubernetes:
      user:
        valueFrom: { authJSON: auth.identity.username }
      resourceAttributes:
        namespace:
          value: opendatahub # TODO:HARDCODED
        group:
          value: ""
        resource:
          value: services
        name:
          value: odh-dashboard
        verb:
          value: get
  response:
  - name: x-auth-data
    json:
      properties:
      - name: username
        valueFrom: { authJSON: auth.identity.username }
  denyWith:
    unauthenticated:      
      message:
        value: "Access denied"
    unauthorized:
      message:
        value: "Unauthorized"

