apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: # TODO: better cleanup to have resources applied to diff ns's split.
- smm.yaml
- oauth-configmap.yaml
- oauth-client.yaml
- auth-policy.yaml
- proxy/filter-oauth2.yaml
- proxy/filter-propagate-token.yaml
- control-plane.yaml

patches:
- path: patch-control-plane-mount-oauth2-secrets.yaml
  target:
    kind: ServiceMeshControlPlane
    name: basic
    namespace: istio-system
- path: patch-control-plane-external-provider.yaml
  target:
    kind: ServiceMeshControlPlane
    name: basic
    namespace: istio-system
