apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: # TODO: better cleanup to have resources applied to diff ns's split.
- smm.yaml
- oauth-configmap.yaml
- oauth-client.yaml
- auth-policy.yaml
